<!DOCTYPE html>
<html>
  <head>
    <title>App49688</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= yield %>
    <p>
      Listados disponibles
    </p>
    <ul>
      <li> <%= link_to "Articles", engine49688.articles_path %> </li>
      <li> <%= link_to "Users", main_app.users_path %> </li>
    </ul>
  </body>
</html>
